[init]
	defaultBranch = main
[user]
	name = bbil
	email = brandonbil.xyz
[push]
	default = current
	autoSetupRemote = true
[pull]
	ff = only
[branch]
	sort = -committerdate
[alias]
	diffc = diff --cached
	st = status -s
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	co = checkout
	rs = reset --soft
	rsdummy = reset --soft HEAD~1
	s = switch
	sc = switch -c
	fpush = push --force-with-lease
[rerere]
	enabled = true
	autoUpdate = true
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[column]
	ui = auto

