[init]
	defaultBranch = main
[core]
	user = bbil
	email = brandonbil.xyz
	editor = vim
[user]
	name = Brandon Bil
	email = brandonbil.xyz
[push]
	default = current
[alias]
	diffc = diff --cached
	st = status -s
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	co = checkout
	cb = checkout -b
	rs = reset --soft
	rsdummy = reset --soft HEAD~1
	s = switch
	sc = switch -c
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
